@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 50px;
  background-color: #3397DB;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
  width: 270px;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a.details {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
  width: 50%;
}
#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
    border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}

/********************************************************
 edits to original
 ********************************************************/

body {
  min-width: 320px;
}

#maincontent {
  max-width: 1130px;
  margin: 0 auto;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
}

.skip-link:focus {
  top: 0;
}

#non-map-container {
  display: flex;
  flex-wrap: wrap;
}

.filter-options {
  height: unset;
}

#restaurants-list {
  display: flex;
  flex-wrap: wrap;
}

#restaurants-list .restaurant-img {
  min-height: unset;
}

/****** details page *********/

nav {
  height: 40px;
}

.inside #maincontent{
  max-width: unset;
}

.inside #breadcrumb {
  width: unset;
  padding: 5px 10px;
  text-align: left;
}

.inside #restaurant-container, .inside #reviews-container {
  padding: 0;
  text-align: center;
}

.inside #restaurant-name {
  font-size: 15pt;
}

.inside #restaurant-img{
  width: 90%;
  border-radius: 25px 0;
}

.inside #footer {
  position: relative;
  width: 100%;
  padding: 25px 0;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 15pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 20px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  width: 90%;
  border-radius: 25px 0;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

#restaurant-hours {
  margin: 0 auto;
}

#restaurant-hours td {
  color: #666;
  padding: 4px 0;
  width: 120px;
}

.hours-day {
  text-align: left;
}

.hours-time {
  text-align: right;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 auto;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}

#reviews-list li {
  margin: 15px auto;
  width: 90%;
  border-radius: 25px 0;
  padding: unset;
}

#reviews-container h2 {
  font-size: 15pt;
  text-transform: uppercase;
  margin: 10px;
}
.reviewHeader {
  height: 50px;
  background-color: black;
  border-radius: 25px 0 0 0;
}

.reviewName {
  float: left;
  font-size: 1.6em;
  color: #fff;
  margin: 10px 20px;
}

.reviewDate {
  float: right;
  font-size: 1em;
  color: #d9dadc;
  margin: 14px;
}

.rating, .ratingForm {
  background-color: #f5a83c;
  width: 110px;
  height: 25px;
  color: #fff;
  margin: 20px;
  padding-top: .1em;
  text-align: center;
  font-size: 1.2em;
  letter-spacing: .1em;
  text-transform: uppercase;
  border-radius: 5px;
}

.ratingForm {
  width: 400px;
  margin: 5px auto;
}

.comments {
  text-align: left;
  margin: 10px 20px;
  color: #737373;
  font-size: 11pt;
}

.commentsTextArea{
  width: 300px;
  height: 300px;
}

.commentsSubmit{
  display: block;
  margin: 5px auto;
}

#reviews-list li p {
  margin: 0 0 10px;
}

/* STAGE 2 */
.restaurant-no-img {
  display: none;
}

@media screen and (max-width: 379px) {
  #restaurants-list li{
    padding: 0 5px;
    margin: 15px 0;
  }
}

@media screen and (max-width: 599px) {
  .filter-options {
    height: 160px;
  }

  .filter-options select {
    margin: 10px;
  }

  .filter-options h2 {
    margin: 10px;
  }

}

@media screen and (max-width: 699px) {
  /****** details page *********/

  .inside header {
    position: relative;
    top: unset;
  }

  .inside #map-container {
    position: relative;
    height: 200px;
    width: 100%;
    right: unset;
    top: unset;
  }

  .inside #restaurant-container, .inside #reviews-container {
    width: 100%;
    padding: 0;
    text-align: center;
  }

}

@media screen and (min-width: 600px) {
  .filter-options h2 {
    display: inline;
  }
}

@media screen and (min-width: 700px) {
  .inside #restaurant-name-img {
    margin-top: 90px;
  }
}